*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
.container{
    background-color: #c4e4e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    padding: 2rem 0;
}
.content{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    row-gap: 1rem;
}
.left-content{
    display: grid;
    row-gap: 1rem;
}
.selected-tip{
    display: grid;
    row-gap: 1rem;
}
.right-content{
    background-color: #00474b;
    padding: 2em;
    border-radius: 10px;
    display: grid;
    row-gap: 2rem;
}
.bill, .number{
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}
input{
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bolder;
    color: #014247;
    background-color: #f3f8fb;
    border: #f3f8fb;
    text-align: end;   
}
label{
    font-size: 1em;
    font-weight: bold;
    color: #60787c;
}
.tips{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-gap: 1em;
}
.tip{
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #00474b;
    border: #00474b;
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.tip:hover,.custom-tip:hover{
    background-color: #29a897;
}
.custom-tip{
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #f3f8fb;
    color: #5d7a76;
    border:#f3f8fb ;
    font-size: 1em;
    font-weight: bold;
}
.tip-amount,.total-amount{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.tip-amount-number ,.total-amount-number{
    color: #0d686d;
    font-size: 1.5em;
}
.reset button{
    width: 100%;
    padding: 1rem;
    background-color: #0d686d;
    border: #0d686d;
    border-radius: 10px;
    color:#00474b;
    font-size: 1.5em;
    font-weight: bold;
}
.input-box{
    position: relative;
    
}
.unit { 
    position: absolute;  
    left: 0.75rem; 
    top: 1rem; 
  }
  p{
    color: #5d7a76;
  }


@media (min-width:911px) {
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        border-radius: 20px;
        width: 60%;
    }
    .right-content{
        grid-column: 2;
    }
    .container{
       display: flex;
       align-items: center;
       flex-direction: column;
       padding: 3rem 0 8rem 0;
    }
    .tips{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
        grid-gap: 1em;
    }
}

@media (min-width:640px) and (max-width:910px){
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        border-radius: 20px;
        width: 60%;
    }
    .right-content{
        grid-column: 2;
    }
    .container{
       display: flex;
       align-items: center;
       flex-direction: column;
       padding: 2rem 0 7rem 0;
    }
    .tips{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
        grid-gap: 1em;
    }
    .right-content{
        padding: 1em;
    }
    h2{
        font-size:1em;
    }
    .reset button{
        font-size: 1em;
        padding: 0.5em;
    }
}